@model SmartLunch.Models.Prices

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P_time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dishes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dishes.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
